<div class="container-fluid bg-light py-3">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-body">
        <h3 class="text-center mb-4">Site Statistics</h3>
        <div class="card card-body">
          <div class="table-responsive">
            <table class="table">
              <th>Total Number Of Requests</th>
              <th>Ok Response</th>
              <th>4XX Response</th>
              <th>5XX Response</th>
              <th>Avg Response Time</th>
              <th>Max Response Time</th>
              <tr>
                <td>{{stats.totalNumberOfRequests}}</td>
                <td>{{stats.totalNumberOfOKRes}}</td>
                <td>{{stats.totalNumberOf4XXRes}}</td>
                <td>{{stats.totalNumberOf5XXRes}}</td>
                <td>{{stats.avgResTime}}</td>
                <td>{{stats.maxResTime}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>