<h1>Job Information</h1>
<hr />
<table>
    <th>ID </th>
    <th>Title </th>
    <th>Start Date </th>
    <th>Last Date </th>
    <th>Qualification </th>
    <th>Sector </th>
    <th>Total Posts </th>

    <tr *ngFor="let job of jobs">
        <td>{{job.id}}</td>
        <td>{{job.title}}</td>
        <td>{{job.startDate}}</td>
        <td>{{job.lastDate}}</td>
        <td>{{job.qualification}}</td>
        <td>{{job.sector}}</td>
        <td>{{job.totalPosts}}</td>
    </tr>
</table>