<div class="container">
  <!-- Content here -->
  <div class="row">

    <div class="col-lg-3 col-sm-1"></div>
    <div class="col-lg-6 col-sm-1">

      <h1> Welcome TO KLM Airlines</h1>
    </div>
  </div>
  <div class="row">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">KLM Airlines!</h4>
      <p>KLM Royal Dutch Airlines, legally Koninklijke Luchtvaart Maatschappij N.V., is the flag carrier airline of the
        Netherlands. KLM is headquartered in Amstelveen, with its hub at nearby Amsterdam Airport Schiphol. It is part
        of the Air France–KLM group, and a member of the SkyTeam airline alliance</p>
      <hr>
      <p class="mb-0">It is part of the Air France–KLM group, and a member of the SkyTeam airline alliance. Founded in
        1919, KLM is the oldest airline in the world still operating under its original name and had 35,488 employees
        and a fleet of 119 as of 2015. KLM operates scheduled passenger and cargo services to 145 destinations.</p>
    </div>

  </div>

</div>